.container {
    column-width: 350px;
    column-gap: 5px;
}

.container div {
    width: 350px;
    margin: 5px;

}

img {
    width: 350px;
    height: auto;
}

p {
    margin: 0px auto;
    text-align: center;
}